@import "tailwindcss"; 

@font-face {
  font-family: "Egiziano";
  src: url("assets/fonts/Egiziano.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Egiziano", serif;
}