@import "tailwindcss"; 

@font-face {
  font-family: "Egiziano";
  src: url("assets/fonts/Egiziano.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Clarendon";
  src: url("assets/fonts/Clarendon.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Egiziano", "Clarendon", sans-serif;
}