@import "tailwindcss"; 

@font-face {
  font-family: "Egiziano";
  src: url("assets/fonts/Egiziano.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Clarendon";
  src: url("assets/fonts/Clarendon.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Egiziano", "Clarendon", sans-serif;
}

@keyframes pulseOutline {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.animate-pulse-outline {
  animation: pulseOutline 2s infinite ease-in-out;
}

html {
  scroll-behavior: smooth;
}